# 1. 加载库

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt, rcParams, style
# style.use('seaborn-darkgrid')
import seaborn as sns
# sns.set_style('darkgrid')

from statsmodels.tsa.deterministic import DeterministicProcess, CalendarFourier
from statsmodels.graphics.tsaplots import plot_pacf
from sklearn.preprocessing import RobustScaler, StandardScaler, Normalizer, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor, BaggingRegressor

# import gc
# gc.enable()
# from warnings import filterwarnings, simplefilter
# filterwarnings('ignore')
# simplefilter('ignore')

In [2]:
plt.rcParams['font.family'] = ['Arial Unicode MS', 'Microsoft Yahei', 'SimHei'] #用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False #用来正常显示负号

# 2. 加载数据

In [8]:
train = pd.read_csv('data/train.csv', 
                    usecols = ['date', 'store_nbr', 'family', 'sales'], 
                    dtype = {'store_nbr' : 'category', 'family' : 'category'}, 
                    parse_dates = ['date'], 
                    infer_datetime_format = True,
)
train['date'] = train['date'].dt.to_period('D')
train = train.set_index(['date', 'store_nbr', 'family']).sort_index()
train

                                                    sales
date       store_nbr family
2013-01-01 1         AUTOMOTIVE                     0.000
                     BABY CARE                      0.000
                     BEAUTY                         0.000
                     BEVERAGES                      0.000
                     BOOKS                          0.000
...                                                   ...
2017-08-15 9         POULTRY                      438.133
                     PREPARED FOODS               154.553
                     PRODUCE                     2419.729
                     SCHOOL AND OFFICE SUPPLIES   121.000
                     SEAFOOD                       16.000

[3000888 rows x 1 columns]

In [9]:
test = pd.read_csv('data/test.csv',
                   parse_dates = ['date'], 
                   infer_datetime_format = True,
)
test['date'] = test['date'].dt.to_period('D')
test = test.set_index(['date', 'store_nbr', 'family']).sort_values('id')
test

# 这里的id有没有必要？

                                                      id  onpromotion
date       store_nbr family
2017-08-16 1         AUTOMOTIVE                  3000888            0
                     BABY CARE                   3000889            0
                     BEAUTY                      3000890            2
                     BEVERAGES                   3000891           20
                     BOOKS                       3000892            0
...                                                  ...          ...
2017-08-31 9         POULTRY                     3029395            1
                     PREPARED FOODS              3029396            0
                     PRODUCE                     3029397            1
                     SCHOOL AND OFFICE SUPPLIES  3029398            9
                     SEAFOOD                     3029399            0

[28512 rows x 2 columns]